@{
    ViewBag.Title = "Mercury Health Group";
}

@*<div class="jumbotron">*@
<div id="HeaderBackground">
    <h1><span id="HomePageTitle">@ViewBag.Title @ViewBag.Environment</span></h1>
    <br />
    <p class="lead">The mission of Mercury Health Group is to help you improve your longevity and your quality of life through healthy activity.</p>
        &nbsp;&nbsp;&nbsp;<a href="/FoodLogEntries/Create" class="btn btn-primary btn-large">Make healthy choices, create a nutrition item now &raquo;&raquo;&raquo;</a>
        <br />
        &nbsp;&nbsp;&nbsp;<a href="/Exercises/Create" class="btn btn-primary btn-large">Physical activity boosts mental wellness, create an exercise entry now &raquo;&raquo;&raquo;</a>
        <br /><br />
</div>
    @*</div>*@

    <div class="row">
        <div class="col-md-4">
            <h2>Exercise</h2>
            <p>
                Physical activity is an important part of a healthy lifestyle.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Nutrition</h2>
            <p>
                A crafted diet can help you accomplish your health goals.
            </p>
        </div>
    </div>
